<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, uzivatel-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chyba</title>
</head>
<body>
    <div style="text-align: center;margin-top: 1em; font-size: 8em; font-family: 'Agency FB',ui-serif">
        Nastala chyba
    </div>
    <div style="text-align: center;margin-top: 3em;">
        <img src="https://media.tenor.com/PIs64JMGjDcAAAAd/sad-cat.gif"/>
    </div>
</body>
</html>